.basic-items {
  width: 320px;
}

.basic-items h1 {
  display: block;
  margin-top: 27px;
  margin-left: 20px;
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.basic-items h1::after {
  display: block;
  width: 320px;
  height: 1px;
  position: relative;
  margin-left: -20px;
  margin-top: 41px;
  margin-bottom: 0;
  padding: 0;
  content: "";
  background: url("../img/line320eb.svg") no-repeat;
}

.basic-items__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: block;
  margin-top: 19px;
}

.catalog-item h3 {
  display: block;
  width: 76px;
  height: 41px;
  margin-top: 0;
  margin-left: 160px;
  margin-bottom: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.catalog-item__table {
  width: 140px;
  margin-left: 160px;
  border-collapse: collapse;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog-item__table td {
  padding: 0;
}

.catalog-item__table td:nth-child(2) {
  text-align: right;
}

.basic-items__item button {
  display: block;
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  background-color: #68b738;
  border: 0;
  padding: 10px, 109px, 10px, 109px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.basic-items__item::after {
  display: block;
  position: relative;
  width: 320px;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 0;
  content: "";
  background: url("../img/line320eb.svg") no-repeat;
  padding: 0;
}

.last-item {
  margin-top: 78px;
}

.last-item h3 {
  margin: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.last-item p {
  margin-top: 8px;
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.last-item button {
  background-color: #f2f2f2;
  padding: 10px, 94px, 10px, 94px;
  color: #444444;
}
