.catalogs {
  display: block;
  width: 100%;
}

.catalogs__wrapper {
  display: block;
  margin: 200px 20px 0 20px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0 30px 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 82px 30px 0 110px;
  }
}

.catalogs__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-between;
  }
}

.catalogs__item {
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 18px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    padding-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 80px;
    margin-bottom: 0;
  }
}

.catalogs__title {
  display: block;
  position: relative;
  margin: 0;
  margin-left: 91px;
  padding-top: 30px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin-left: 53px;
    padding-top: 77px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 214px;
  }
}

.catalogs__item:first-of-type::before {
  display: block;
  width: 50px;
  height: 53px;
  position: absolute;
  top: 21px;
  left: 22px;
  content: "";
  background: url("../img/catalog-slim.svg") no-repeat;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 211px;
    top: 81px;
    left: auto;
    right: 62px;
    background: url("../img/catalog-slim-tablet.svg") no-repeat;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
    background: url("../img/catalog-slim-desktop.svg") no-repeat;
  }
}

.catalogs__item:last-of-type::before {
  display: block;
  width: 67px;
  height: 50px;
  position: absolute;
  top: 24px;
  left: 12px;
  content: "";
  background: url("../img/catalog-pro.svg") no-repeat;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 200px;
    top: 91px;
    left: auto;
    right: 28px;
    background: url("../img/catalog-pro-tablet.svg") no-repeat;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
    background: url("../img/catalog-pro-desktop.svg") no-repeat;
  }
}

.catalogs__description {
  display: block;
  margin: 29px 30px 23px 20px;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin: 24px 279px 0 52px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin: 73px 51px 0 52px;
  }
}

.catalogs__item:last-of-type .catalogs__description {
  @media (min-width: @tablet-width) {
    margin: 24px 314px 0 52px;
  }

  @media (min-width: @desktop-width) {
    margin: 73px 51px 0 52px;
  }
}

.catalogs__description::after {
  display: block;
  width: 240px;
  height: 1px;
  position: relative;
  margin-top: 23px;
  margin-bottom: 0;
  padding: 0;
  content: "";
  background: url("../img/Line.svg") no-repeat;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.catalogs__link {
  display: block;
  margin-left: 19px;
  margin-top: 19px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin-left: 52px;
    margin-top: 48px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 27px;
  }
}

.catalogs__link::after {
  display: block;
  width: 24px;
  height: 12px;
  position: relative;
  left: 98px;
  top: -13px;
  content: "";
  background: url("../img/arrow-small.svg") no-repeat;

  @media (min-width: @tablet-width) {
    left: 130px;
    top: -20px;
  }
}

.catalogs__link:hover {
  &::after {
    display: block;
    width: 32px;
    height: 12px;
    position: relative;
    left: 98px;
    top: -13px;
    content: "";
    background: url("../img/arrow-big.svg") no-repeat;

    @media (min-width: @tablet-width) {
      left: 130px;
      top: -20px;
    }
  }
}

.catalogs__link:active {
  opacity: 0.3;
}
