.example {
  width: 100%;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 619px;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 667px;
    background-color: #f2f2f2;
  }
}

.example__wrapper {
  padding: 27px 20px 0 20px;

  @media (min-width: @tablet-width) {
    padding: 43px 31px 0 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-right: 0;
  }
}

.example__header {
  margin-top: 0;
  margin-bottom: 33px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 69px;
    padding-bottom: 76px;
    padding-left: 110px;
    background-color: #ffffff;
  }
}

.example__description {
  display: block;
  margin-bottom: 25px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    margin-top: 63px;
    margin-bottom: 0;
    padding-left: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 70px;
    padding-left: 110px;
    padding-right: 860px;
  }
}

.example__wrap-result {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.wrap-result-cost {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 930px;
  }
}

.example__result {
  width: 124px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding-top: 14px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 72px;
    margin-top: 54px;
    padding-top: 15px;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
  }
}

.result div {
  display: block;
  width: 87px;
  height: 31px;
  box-sizing: border-box;
  position: relative;
  top: 3px;
  left: 19px;
  padding: 14px;
  padding-top: 4px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 114px;
    height: 27px;
    top: 5px;
    left: 22px;
    padding: 7px;
    padding-top: 5px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.result:last-of-type div {
  @media (min-width: @tablet-width) {
    width: 142px;
    left: 10px;
  }
}

.example__cost {
  margin-top: 34px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    flex-grow: 3;
    margin-top: 65px;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
    line-height: 20px;
    text-align: left;
  }
}

.example__cost p {
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 180px;
    margin: 0;
    margin-left: auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 330px;
    margin-left: 0;
    margin-bottom: 68px;
  }
}
