.extra {
  border: 0;
  padding: 0;
}

.extra legend {
  display: block;
  width: 141px;
  margin-left: 20px;
  margin-bottom: 34px;
  padding-top: 22px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.extra input[type="checkbox"] {
  display: none;
}

.extra label::before {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 16px;
  content: "";
  background: url("../img/checkbox.svg") no-repeat;
}

.extra input[type="checkbox"]:checked {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -3px;
  left: -5px;
  margin-right: 16px;
  content: "";
  background: url("../img/checkbox-active.svg") no-repeat;
}

.extra label {
  position: relative;
  line-height: 30px;
  color: #000000;
}
