.form {
  display: block;
  width: 320px;
  margin-top: 37px;
}

.form label {
  display: flex;
  margin: 0 20px;
  padding-bottom: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 45px;
  color: #444444;
}

.form input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.form input[type="text"],
input[type="email"],
input[type="tel"] {
  flex-grow: 1;
  height: 46px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
}

.form input[type="submit"] {
  display: block;
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  border: 0;
  position: relative;
  margin-top: 34px;
  margin-right: auto;
  margin-left: auto;
  bottom: 0;
  padding: 8px, 44px, 8px, 44px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
}

.form div {
  margin: 21px auto 32px auto;
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
