.main-header {
  background-color: #ffffff;
  width: 320px;
}

.logo a {
  position: absolute;
  left: 20px;
  top: 12px;
}

.logo .logo__title {
  position: absolute;
  left: 109px;
  top: 24px;
}

.logo {
  box-sizing: border-box;
  height: 66px;
  width: 320px;
  margin: 0;
  padding: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: block;
  box-sizing: border-box;
  height: 67px;
  width: 320px;
  border-top: 1px solid #e6e6e6;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 20px;
  text-align: center;
}

.main-nav__item a {
  color: #000000;
  text-decoration: none;
}

.main-nav__toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 23px;
  left: 279px;
}
