.main-footer {
  margin-top: 0;
  width: 320px;
  height: 236px;
  background-color: #f2f2f2;
}

.page-footer__logo img {
  display: block;
  margin: auto;
  padding-top: 39px;
  padding-bottom: 32px;
}

.page-footer__logo::after {
  height: 1px;
  width: 280px;
  content: "";
  background: #d9d9d9 url("../img/Line280.svg") no-repeat;
  display: block;
  margin: 0 auto;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 34px;
}

.social__link--vk {
  margin-left: 87px;
  background-image: url("../img/social_icons.svg");
}

.social__link--ig {
  background-image: url("../img/social_icons.svg");
  background-position: 75px 0;
}

.social__link--fb {
  background-image: url("../img/social_icons.svg");
  background-position: -105px 0;
}

.social__list::after {
  content: "";
  clear: both;
  height: 1px;
  width: 280px;
  background: #d9d9d9 url("../img/Line280.svg") no-repeat;
  display: block;
  margin: 0 auto;
}

.copyright__link {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  margin-left: 19px;
  display: block;
  margin-top: 28px;
}

.copyright {
  display: block;
  position: relative;
  height: 78px;
}

.copyright__link::after {
  position: absolute;
  height: 34px;
  width: 27px;
  content: "";
  background: url("../img/html-academy.svg") no-repeat;
  display: block;
  bottom: 48px;
  right: 20px;
}
