.owner-contacts {
  border: 0;
  padding: 0;
  margin-bottom: 10px;
  border-top: 2px solid #68b738;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin-bottom: 47px;
  }
}

.owner-contacts legend {
  display: block;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 22px;
  padding-bottom: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 71px;
    margin-left: 30px;
    padding-left: 39px;
    padding-right: 42px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.owner-contacts label {
  position: relative;

  @media (min-width: @desktop-width) {
    width: 50%;
    margin-right: 110px;
  }
}

.owner-contacts label:nth-of-type(1) {
  @media (min-width: @desktop-width) {
    flex-shrink: 3;
    margin-right: 0;
  }
}

.owner-contacts label:nth-of-type(2) {
  @media (min-width: @desktop-width) {
    flex-grow: 1;
    margin-left: 80px;
  }
}

.owner-contacts__mail {
  width: 18px;
  height: 13px;
  position: absolute;
  top: 17px;
  right: 17px;
  stroke: #222222;

  @media (min-width: @tablet-width) {
    top: 19px;
    right: 19px;
  }
}

input[type="email"]:focus + .owner-contacts__mail {
  stroke: #68b738;
}

.owner-contacts__tel {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 13px;
  right: 13px;
  fill: #222222;

  @media (min-width: @tablet-width) {
    top: 16px;
    right: 17px;
  }
}

input[type="tel"]:focus + .owner-contacts__tel {
  fill: #68b738;
}

form.submitted input:invalid {
  & + .owner-contacts__mail {
    stroke: #ff8282;
  }

  & + .owner-contacts__tel {
    fill: #ff8282;
  }
}
