.principles {
  width: 320px;
}

.principles__header {
  margin-left: 20px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.principles__list {
  display: block;
  margin: 40px 0 46px 0;
  padding: 0;
}

.principles__item {
  display: block;
  margin-left: 100px;
  margin-right: 22px;
  margin-bottom: 26px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
