.promo {
  width: 320px;
  height: 480px;
  position: relative;
  background: url("../img/cat.jpg") no-repeat;
}

.promo__wrapper {
  width: 320px;
  height: 302px;
  box-sizing: border-box;
  margin: 0;
  background: rgba(104, 183, 56, 0.85);
  background-size: 100%;
}

.promo__header {
  margin: 0;
  padding: 27px 20px 0 20px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-style: normal;
  line-height: 36px;
  text-align: center;
}

.promo__slogan {
  margin: 0;
  padding-top: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.promo__choose {
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  border: 0;
  position: absolute;
  bottom: 0;
  margin: 0 20px;
  padding: 8px, 44px, 8px, 44px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
}

.promo__choose::before {
  display: block;
  width: 280px;
  height: 270px;
  position: absolute;
  bottom: 43px;
  margin: 0 auto;
  content: "";
  background: url("../img/index-can-mobile.png") no-repeat;
}
